.input-search {
    width: 450px;
}

.input-search:focus {
    box-shadow: none;
    outline: none;
}

.list-input {
    font-size: large;
}

.list-input:focus {
    box-shadow: none;
}

.filter-exam-box {
    min-width: 200px;
}

.scrollbar::-webkit-scrollbar {
    width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 50px;
}

.link-exam {
    text-decoration: none;
}

.link-exam:hover {
    text-decoration: underline;
}

.show-btn {
    font-size: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}


.transition {
    transition: transform 0.8s;
    transform: rotate(-180deg);
}

.rotate-down-to-right {
    transition: transform 0.3s ease;
    /* Adjust the duration and timing function as needed */
}

.rotate-down-to-right.rotate {
    transform: rotate(180deg);
}

.sub-detail {
    font-size: 15px;
}

@media (max-width:1200px) {
    .filter-exam-box {
        min-width: 150px;
    }
}

@media (max-width:992px) {
    .input-search {
        width: 350px;
    }
}

@media (max-width:768px) {
    .input-search {
        width: 180px;
    }
}

@media (max-width:450px) {
    .input-search {
        width: 150px;
    }

    .sub-detail {
        font-size: 12px;
    }

}