.logo-online-exam {
    height: 60px;
}

.btn-gold {}

.online-test-header {
    background-image: url('../../../assets/images/bg-online-test.jpg');
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}

.online-test-section {
    background-image: url('../../../assets/images/bg-online-test.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* responsive */

@media screen and (max-width: 1400px) {
    .online-exam-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 465px) {}